<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settingfromgame</key>
	<array>
		<dict>
			<key>baseinfo</key>
			<string>基本信息</string>
			<key>title</key>
			<string>基本信息</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
					<key>icon</key>
					<string>defaulthead.png</string>
					<key>title</key>
					<string>个人头像</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>1</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>用户名</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>2</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>性别</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>snssynchroinfo</key>
			<string>同步设置</string>
			<key>title</key>
			<string>同步设置</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>9</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>同步发送</string>
				</dict>
			</array>
			<key>on_1</key>
			<array>
				<dict>
					<key>type</key>
					<integer>6</integer>
					<key>icon</key>
					<string>qq.png</string>
					<key>title</key>
					<string>至QQ空间</string>
					<key>content</key>
					<string>QQ空间</string>
					<key>snsid</key>
					<string>tencent_qzone</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>7</integer>
					<key>icon</key>
					<string>sina.png</string>
					<key>title</key>
					<string>至新浪微博</string>
					<key>content</key>
					<string>新浪微博</string>
					<key>snsid</key>
					<string>sina_weibo</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>8</integer>
					<key>icon</key>
					<string>tencent.png</string>
					<key>title</key>
					<string>至腾讯微博</string>
					<key>content</key>
					<string>腾讯微博</string>
					<key>snsid</key>
					<string>tencent_weibo</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>16</integer>
					<key>icon</key>
					<string>facebook.png</string>
					<key>title</key>
					<string>至Facebook</string>
					<key>content</key>
					<string>Facebook</string>
					<key>snsid</key>
					<string>facebook</string>
				</dict>
				<dict>
					<key>type</key>
					<integer>15</integer>
					<key>icon</key>
					<string>twitter.png</string>
					<key>title</key>
					<string>至Twitter</string>
					<key>content</key>
					<string>Twitter</string>
					<key>snsid</key>
					<string>twitter</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>settinginfo</key>
			<string>系统设置</string>
			<key>title</key>
			<string>系统设置</string>
			<key>on</key>
			<array>
				<dict>
					<key>type</key>
					<integer>13</integer>
					<key>icon</key>
					<string></string>
					<key>title</key>
					<string>提示信息</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
